{% if Basics.Summary %}
<div class="py-4 block">
  <h5 class="text-xl uppercase text-gray-500"><ion-icon name="id-card" class="mr-3"></ion-icon> About</h5>
  <hr class="ml-8 mb-2" />
  <div class="pl-8 break-words">{{ Basics.Summary }}</div>
</div>
{% endif %}