{% layout 'default/layout' %}
{% assign hr = '<hr class="my-8" />' %}

<div class="grid grid-cols-3 gap-2 p-2">
  <div class="bg-white shadow overflow-hidden rounded-lg col-span-1 text-center">
    {% include 'default/basics' %}
  </div>

  <div class="bg-white shadow overflow-hidden rounded-lg col-span-2">
    <div class="px-4 py-5">
      <h5 class="uppercase text-gray-500 text-2xl">Background</h5>
      <hr />
      <div class="grid grid-cols-1 gap-2">
        
      </div>
    </div>
  </div>
</div>